.card {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: black;
	background-color: white;
	width: 400px;
	height: 600px;
	border-radius: 20px;
	box-sizing: border-box;
	position: relative;
}

.card-form {
	display: flex;
	align-items: center;
	background-color: rgb(231, 231, 231);
	border-radius: 20px;
	padding: 0 10px;
}

.card-input {
	border: none;
	background-color: rgb(231, 231, 231);
	padding: 0 10px;
	margin: 10px;
}

.card-input:focus {
	outline: none;
}

.weather-icon {
	width: 200px;
	height: 200px;
}

.card-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 30%;
	gap: 56px;
}
.card-button {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
}
.card h2 {
	font-size: 55px;
	margin: 0;
}

.card-more-info {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 70px;
}

.send-icon {
	width: 20px;
	height: 20px;
}
